@import 'global';

.react-datepicker-wrapper {
  margin: $extra-small-margin $no-margin;

  .react-datepicker__input-container {
    input {
      background-color: $off-white;
      border: none;
      border-radius: $extra-small-border-radius;
      font-family: $paragraph-font-family;
      outline: none;
      padding: $medium-padding;
      width: 90%;
      &:hover { background-color: $secondary-blue; };
    };
  };
};
