@import 'global';

#tasks {
  margin-bottom: $medium-margin;

  .task-count { margin: $no-margin; };

  .tasks-container {
    color: $white;
    padding-top: $medium-padding;

    .empty-tasks {
      padding: $medium-padding;
      padding-top: $no-padding;
    };
  };
};
