@import 'global';

.tm-overlay {
  background-color: rgba(0, 0, 0, 0.65);
  height: calc(100% - 60px);
  left: $toolbar-width;
  position: absolute;
  top: $header-height;
  width: calc(100% - 60px);
  z-index: 1;
};
