@import 'global';

.task-card {
  background-color: $off-white;
  border-radius: $small-border-radius;
  color: $off-black;
  margin-bottom: $large-margin;
  max-height: $max-task-card-height;
  overflow: $hide-y-scroll-x;
  padding: $large-padding;
  &.active { background-color: $white; };
  &:last-child { margin-bottom: 0; };
  &:hover {
    transform: scale(1.005);
  };
};
