@import 'global';

.checklist-items-section {
  .add-checklist-item-button { visibility: hidden; };

  .no-checklist-items {
    margin-left: 25px;
  };

  .task-checklist-items-container {
    padding-top: $medium-padding;

    .checklist-item-row {
      align-items: flex-start;
      display: flex;

      &:last-child {
        .task-checklist-item {
          margin-bottom: 0;
        }
      };

      .task-checklist-item {
        margin-bottom: $medium-margin;
        margin-right: $medium-margin;
        width: 100%;
      };

      .checklist-item-action-menu {
        @include centered-flex-box;
        margin-left: auto;
        margin-top: $small-margin;
        visibility: hidden;
        button { padding: $no-padding; };
      };

      &:hover {
        .checklist-item-action-menu { visibility: visible; }
      }
    };
  };

  &:hover {
    .add-checklist-item-button { visibility: visible; };
  }
};
