@import 'global';

.edit-task-card {
  background-color: $white;
  border-radius: 8px;
  color: $off-black;
  margin-bottom: $large-margin;
  &:last-child { margin-bottom: 0; };

  .task-content-container {
    display: flex;
    max-height: 350px;
    overflow: hidden auto;
  };

  .task-section {
    .header {
      color: $grey;
      font-weight: 600;
    };

    .divider {
      background-color: $light-grey;
      height: 3px;
    }

    button { padding: 0; };
  }
};
