// old mobile
@media (min-width: 0) {
  #root {
    font-size: $extra-small-base-font-size;
  }
}

// mobile
@media (min-width: 350px) {
  #root {
    font-size: $small-base-font-size;
  }
}

// tablet
@media (min-width: 750px) {
  #root {
    font-size: $medium-base-font-size;
  }
}

// laptop
@media (min-width: 1024px) {
  #root {
    font-size: $large-base-font-size;
  }
}

// monitor
@media (min-width: 1600px) {
  #root {
    font-size: $extra-large-base-font-size;
  }
}