@import '../variables/variables';

body {
  height: 100vh;
  margin: $no-margin;
  font-family: $paragraph-font-family;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
};

#root {
  height: 100vh;
  min-width: $min-app-width;
  max-width: $max-app-width;

  .tm-loader-container {
    padding-top: 35%;
  };

  #content {
    display: flex;

    #content-container { width: 100%; };

    #content-container {
      background-color: $medium-grey;
      padding: $no-padding;
      transition: width 1s ease;
      width: calc(100% - 60px);
      .contents {
        height: calc(100vh - 80px);
        padding: $medium-padding;
      };
    };
  };
};
