@import '../variables/variables';

body {
  height: 100vh;
  margin: 0;
  font-family: $paragraph-font-family;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
  max-width: 600px !important;

  .tm-loader-container {
    padding-top: 35%;
  }

  .collapsed-app {
    #body-container {
      #content-container {
        padding: 0;
        width: 0;
        .contents { display: none; }
      }
    }
  }

  #body-container {
    display: flex;

    #content-container {
      background-color: $medium-grey;
      padding: $large-padding;
      transition: width 1s ease;
      -webkit-transition: width 1s ease;
      width: calc(100% - 60px);
    }
  }
}
