@import '../variables/variables';

body {
  height: 100vh;
  margin: 0;
  font-family: $paragraph-font-family;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  background-color: $medium-grey;
  height: 100%;
  max-width: 600px !important;

  .tm-loader-container {
    padding-top: 35%;
  }

  #body-container {
    display: flex;

    .content-container {
      padding: $large-padding;
      width: calc(100% - 60px);
    }
  }
}
