@import 'global';

.checklist-items-section {
  .add-checklist-item-button { visibility: hidden; };

  .no-checklist-items {
    margin-left: 25px;
  };

  .task-checklist-items-container {
    padding-top: $medium-padding;
  };

  &:hover {
    .add-checklist-item-button { visibility: visible; };
  }
};
