@import 'global';

#workspace {
  background-color: $white;
  border-radius: $small-border-radius;
  color: $off-black;
  margin-bottom: $large-margin;
  &:last-child { margin-bottom: 0; };

  .content {
    display: flex;
    max-height: 345px;
    overflow: $hide-y-scroll-x;
  };

  .task-section {
    .header {
      color: $grey;
      font-weight: 600;
    };

    .divider {
      background-color: $light-grey;
      height: 3px;
    };

    .task-tag { button: { padding: $no-padding; }; };
  };
};
