@import 'global';

.task-tag {
  @include centered-flex-box;
  border-radius: $medium-border-radius;
  margin-bottom: $medium-margin;
  padding: $medium-padding;
  button { margin-left: auto; };

  &:last-child {
    margin-bottom: 0;
  };

  .editable-tag {
    textarea { background-color: transparent; };
    .inactive { background-color: transparent; };
  };
};
