@import 'global';

#task-header {
  display: flex;
  margin-bottom: $medium-margin;
  form {
    margin-right: $medium-margin;
    width: 85%;
  };

  #toolbar-menu { .tm-menu { right: 8px;  }; };
};
