@import 'global.scss';

#tm-header {
  @include centered-flex-box;
  background-color: $black;
  height: $header-height;
  padding: 0 $medium-padding;

  .app-logo {
    height: $header-height - 20px;
    padding-top: 8px;
  };

  #control-panel-container {
    @include centered-flex-box;
    margin-left: auto;
    p { color: $white; }
  };
};
