@import 'global.scss';

.collapsed-app {
  #tm-header {
    padding: 0;
    width: $toolbar-width;
    #control-panel-container { display: none; }
  };
};

#tm-header {
  @include centered-flex-box;
  background-color: $black;
  box-sizing: border-box;
  height: $header-height;
  justify-content: center;
  padding: 0 $medium-padding;
  transition: width 1s ease;
  width: 100%;

  .app-logo {
    height: $header-height - 20px;
    padding-top: 8px;
  };

  #control-panel-container {
    @include centered-flex-box;
    margin-left: auto;
    p { color: $white; }
  };
};
