@import 'global.scss';

#app-header {
  @include centered-flex-box;
  background-color: $black;
  box-sizing: border-box;
  height: $header-height;
  justify-content: center;
  padding: $no-padding $medium-padding;
  transition: width 1s ease;
  width: 100%;

  img {
    height: $header-height - 20px;
    padding-top: 8px;
  };

  .control-panel {
    @include centered-flex-box;
    margin-left: auto;
    p { color: $white; };

    .use-mock-toggle-button { margin-right: $small-margin; };
  };
};
