@import 'global';

form {
  display: flex;

  .tm-input {
    &.tm-search-input {
      border-radius: $large-border-radius;
      &:focus-visible {
        outline: none;
      };
    };
    &::placeholder { color: $grey; };
  };

  button {
    margin-left: -40px;
  };
};

// Removes the x icon that appears when text is in a focused search field
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; };
