@import 'global';

#tag-menu {
  background: $off-white;
  border-radius: 10px;
  height: 195px;
  overflow: hidden auto;
  padding: $medium-padding;
  position: absolute;
  top: -10px;
  width: 168px;

  .tag-menu-header {
    @include centered-flex-box;
    margin-bottom: $medium-margin;

    button {
      justify-content: center;
      width: 50%;

      &.active {
        border-bottom-color: $logo-green;
      };
    };
  };

  #manage-menu {
    .task-tag {
      padding: $small-padding 0;

      .tm-button { padding-right: $medium-padding; };
    };

    .add-button {
      width: 100%;
      .add-button-content {
        @include centered-flex-box;
        margin: $medium-margin;
        width: 100%;
        svg { margin-right: $small-margin; };
      };
    };

    #create-tag-input-container {
      @include centered-flex-box;
      border-radius: 8px;
      padding: 3px 0;
      padding-right: $medium-padding;

      #create-tag-input {
        background: transparent;
        position: relative;
      };

      #color-palette-icon-container {
        display: flex;
        margin-left: $small-margin;
        position: relative;
      };

      #color-picker-menu {
        background: $white;
        border-radius: 8px;
        bottom: 35px;
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        right: 0;
        width: 75px;

        .color-swatch {
          border-radius: 20px;
          height: 20px;
          margin: $extra-small-margin;
          width: 20px;

          &.active { border: 1px solid $off-black; };
        };
      };
    };
  };
};
