@import '../variables/variables';

.tm-input {
  background-color: $white;
  border: none;
  border-radius: $extra-small-border-radius;
  color: $off-black;
  outline: none;
  padding: $medium-padding $large-padding;
  width: 100%;
  &:hover { background-color: $secondary-blue; };
};

.tm-form-input {
  border: none;
  border-radius: $small-border-radius;
  box-sizing: border-box;
  display: block;
  outline: none;
  padding: 6px 12px;
  width: 100%;
  &.off-white { background-color: $off-white; }
};

.tm-text-area {
  resize: none;
};

.tm-searchable-dropdown {
  .filter-options-list {
    color: $off-black;
    list-style-type: none;
    max-height: 125px;
    overflow-y: auto;
    padding-left: $medium-padding;
    position: absolute;
    width: 100%;
    z-index: 2;
    .best-match { font-weight: bold; }
  }
}
