@import '../variables/variables';

.menu-container {
  position: relative;
  .menu {
    border-radius: $medium-border-radius;
    overflow: $hide-y-scroll-x;
    padding: $medium-padding;
    position: absolute;
    z-index: 1;
  };
};

.task-sidebar-section {
  .toggle-menu-button {
    visibility: hidden;
    &.active {
      color: $active-menu-button-color;
      visibility: visible;
    };
  };
  &:hover { .toggle-menu-button { visibility: visible; }; };
  .sidebar-menu-container {
    .sidebar-menu {
      background: $off-white;
      top: -10px;
      width: 168px;
    };
  };
};
