@import '../variables/variables';

.tm-modal {
  background-color: $off-white;
  border-radius: $medium-border-radius;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100% - 40px);
  opacity: 0.95;
  position: absolute;
  top: $header-height + 10px;
  z-index: 2;

  .tm-modal-header {
    border-radius: $medium-border-radius $medium-border-radius 0 0;
    padding: $large-padding;
  };

  .tm-modal-content {
    padding: $large-padding;
  };

  .tm-modal-content-footer {
    border-radius:  0 0 $medium-border-radius $medium-border-radius;
    overflow: overlay;
    padding: $large-padding;
  };

  .tm-modal-footer {
    border-radius:  0 0 $medium-border-radius $medium-border-radius;
    padding: $large-padding;
  };
};
