@import '../variables/variables';

@mixin centered-flex-box {
  align-items: center;
  display: flex;
};

@mixin hide-overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
};

.hide-overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
};

.page-container {
  box-sizing: border-box;
  display: grid;
  overflow: hidden;
  width: 100%;
};

.tm-panel {
  padding: $medium-padding 0;
};

.visible { display: block; };
.hidden { display: none; };
.text-center { text-align: center; };

.vertical-line {
  border-right: 1px solid;
  height: 20px;
  &.light-grey { border-color: $light-grey; };
  &.grey { border-color: $grey; };
  &.dark-grey { border-color: $dark-grey; };
};
