@import '../variables/variables';

@mixin centered-flex-box {
  align-items: center;
  display: flex;
};

@mixin hide-overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
};

.hide-overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
};

#page {
  box-sizing: border-box;
  display: grid;
  overflow: hidden;
  width: 100%;

  &.collapsed {
    #app-header {
      padding: $no-padding;
      width: $toolbar-width;
      .control-panel { display: none; }
    };

    #content {
      #content-container {
        padding: $no-padding;
        width: 0;
        .contents { display: none; }
        .tm-loader-container { display: none; };
      };
    };

  };
};

.tm-panel {
  padding: $medium-padding $no-padding;
};

.visible { display: block; };
.hidden { display: none; };
.text-center { text-align: center; };

.vertical-line {
  border-right: 1px solid;
  height: 20px;
  &.light-grey { border-color: $light-grey; };
  &.grey { border-color: $grey; };
  &.dark-grey { border-color: $dark-grey; };
};
