@import '../variables/variables';

.task-sidebar-section {
  .toggle-menu-button {
    visibility: hidden;
    &.active {
      color: $active-menu-button-color;
      visibility: visible;
    };
  };
  &:hover { .toggle-menu-button { visibility: visible; }; };
  .sidebar-menu-container {
    position: relative;

    .sidebar-menu {
      background: $off-white;
      border-radius: $medium-border-radius;
      overflow: $hide-y-scroll-x;
      padding: $medium-padding;
      position: absolute;
      top: -10px;
      width: 168px;
      z-index: 1;
    };
  };
};
