@import 'global.scss';

#app-sidebar {
  @include centered-flex-box;
  background-color: $dark-grey;
  flex-direction: column;
  height: calc(100vh - 60px);
  width: $toolbar-width;

  .top-menu {
    margin: $no-margin;
    padding: $medium-padding $no-padding;

    img {
      border-radius: 50%;
      width: 50px;
    };

    .tm-toggle {  margin: $small-margin $no-margin; }
  };

  .bottom-menu {
    margin-top: auto;

    .sidebar-menu-button {
      color: $light-grey;
      height: $toolbar-width;
      width: $toolbar-width;
      &:hover { color: $white; };
      &.active {
        background-color: $black !important;
        color: $white;
        user-select: none;
      };
    };
  };
};
