@import 'global';

#task-header-toolbar {
  display: flex;

  .task-toolbar-icon {
    color: $white;
    padding: $small-padding;
    &:hover { color: $off-white; };
  };

  .menu-container {
    display: flex;
    .menu {
      background: $off-white;
      right: 8px;
      top: 35px;
    };
  };
};
