@import 'global';

.tm-searchable-dropdown {
  border-radius: $large-border-radius;
  position: relative;
  width: 100%;

  form {
    width: 100% !important;

    input {
      background-color: $off-white;
      margin: $no-margin;
      width: 100%;
    };
  };

  .focused {
    border-radius: $small-border-radius $small-border-radius $no-border-radius $no-border-radius;
  };

  .filtered-search-options {
    background-color: $off-white;
    border-radius: $no-border-radius $no-border-radius $small-border-radius $small-border-radius;
    color: $off-black;
    list-style-type: none;
    margin: $no-margin;
    max-height: 125px;
    overflow-y: auto;
    padding: $extra-small-padding $no-padding;
    position: absolute;
    width: 100%;
    .best-match { font-weight: bold; }

    li {
      padding: $small-padding $large-padding;
      &:hover { background-color: $secondary-blue; };
    };
  };

  .searchable-input-selected-options {
    display: flex;
    flex-wrap: wrap;
    margin-top: $medium-margin;
    div { margin-right: $medium-margin; };
  };
};
