@import 'global';

#tasks-panel {
  .task-count { margin: $no-margin; };

  .tasks-container {
    color: $white;
    padding-top: $medium-padding;

    .empty-task-section {
      padding: $medium-padding;
      padding-top: $no-padding;
    };
  };
};
