@import 'global';

.tm-dropdown {
  position: relative;

  .tm-dropdown-button {
    @include centered-flex-box;
    background-color: $off-white;
    border: none;
    border-radius: 5px;
    color: $off-black;
    cursor: pointer;
    padding: $medium-padding;
    width: 100%;

    &.menu-visible {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    };

    &:hover { background-color: $secondary-blue; };

    svg { margin-left: auto; };
  };

  .tm-dropdown-menu {
    background-color: $off-white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    max-height: 200px;
    overflow: hidden auto;
    position: absolute;
    width: 100%;
    z-index: 1;

    .tm-dropdown-option {
      color: $off-black;
      display: block;
      padding: $medium-padding;
      text-decoration: none;
      &:hover { background-color: $secondary-blue; };
    }
  };
};
