@import 'global.scss';

#tm-sidebar {
  @include centered-flex-box;
  background-color: $dark-grey;
  flex-direction: column;
  height: calc(100vh - 60px);
  width: $toolbar-width;

  #tm-top-menu {
    margin: 0;
    padding: $medium-padding 0;

    #user-profile-pic {
      border-radius: 50%;
      width: 50px;
    }

    .tm-toggle {  margin: $small-margin 0; }
  }

  #tm-bottom-menu {
    margin-top: auto;

    .tm-sidebar-icon {
      color: $light-grey;
      height: $toolbar-width;
      width: $toolbar-width;
      &:hover {
        color: $white;
      }
      &.active {
        background-color: $black !important;
        color: $white;
        user-select: none;
      }
    }
  }
};
