@import 'global';

.section {
  .tasks-container {
    color: $white;
    padding-top: $medium-padding;

    .empty-section {
      padding: $medium-padding;
      padding-top: 0;
    };
  };

  &.active {
    hr {
      border: 1px solid $primary-blue;
      background-color: $primary-blue !important;
    }
  };
};
