@import 'global';

.workspace-header {
  @include centered-flex-box;
  border-bottom: 2px solid $off-white;

  .tm-dropdown {
    padding: $large-padding;
    width: calc(100% - 200px);

    .tm-dropdown-menu {
      left: $large-margin; // moving left 15px to account for 15px padding around parent container
      width: calc(100% - 30px); // subtracting 30px due to 15px padding around parent container
    };
  };

  .workspace-menu {
    @include centered-flex-box;
    margin-left: auto;
    padding: $large-padding;
    width: 200px;

    .tm-button {
      padding: 6px;
      &:last-child { margin-left: auto; };
    };
  };
}
