// Theme
$primary-red: #C0392B;
$secondary-red: #E74C3C;
$primary-yellow: #F39C12;
$secondary-yellow: #F1C40F;
$primary-green: #27AE60;
$secondary-green: #2ECC71;
$primary-teal: #16A085;
$secondary-teal: #1ABC9C;
$primary-blue: #91ABC9;
$secondary-blue: #B9D1D9;
$primary-purple: #8E44AD;
$secondary-purple: #BE93D4;

// Neutrals
$white: #FFFFFF;
$off-white: #E3E5EC;
$black: #000000;
$off-black: #232332;
$light-grey: #D9D9D9;
$grey: #868686;
$medium-grey: #737373;
$dark-grey: #545454;
$disabled-grey: #bdc3c7;

// App Specific
$logo-green: #99B83B;
$active-menu-button-color: #99B83B;

// Tags
$tag-red: #FF9AA2;
$tag-pink: #FFB7B2;
$tag-orange: #FFDAC1;
$tag-yellow: #F3F3AB;
$tag-green: #E2F0CB;
$tag-teal: #B5EAD7;
$tag-lightblue: #D7E5EC;
$tag-blue: #C7CEEA;
$tag-purple: #C2A2C2;
