$header-font-family: Poppins, sans-serif;
$sub-header-font-family: Lato, sans-serif;
$paragraph-font-family: Roboto, sans-serif;

$extra-small-base-font-size: 15px;
$small-base-font-size: 20px;
$medium-base-font-size: 25px;
$large-base-font-size: 25px;
$extra-large-base-font-size: 30px;

$large-title-font-size: 3.5rem;
$title-font-size: 2.5rem;
$sub-title-font-size: 2.25rem;
$small-title-font-size: 2rem;
$large-header-font-size: 1.5rem;
$header-font-size: 1.25rem;
$sub-header-font-size: 1rem;
$paragraph-font-size: 0.85rem;
