// components (app-specific)
$max-app-width: 800px;
$min-app-width: 600px;

$header-height: 60px;
$task-sidebar-width: 220px;

$max-task-card-height: 150px;
$toolbar-width: 60px;

// misc.
$hide-y-scroll-x: hidden auto;
