// width
$min-mobile-width: 0;
$min-desktop-width: 850px;

// padding
$extra-small-padding: 2px;
$small-padding: 5px;
$medium-padding: 10px;
$large-padding: 15px;
$extra-large-padding: 20px;

// margin
$extra-small-margin: 2px;
$small-margin: 5px;
$medium-margin: 10px;
$large-margin: 15px;
$extra-large-margin: 20px;

// border radius
$no-border-radius: 0;
$extra-small-border-radius: 5px;
$small-border-radius: 8px;
$medium-border-radius: 10px;
$large-border-radius: 15px;
$extra-large-border-radius: 20px;

// components
$header-height: 60px;
$max-task-card-height: 150px;
$task-sidebar-width: 220px;
$toolbar-width: 60px;

// misc.
$hide-y-scroll-x: hidden auto;
