$min-mobile-width: 0;
$min-desktop-width: 850px;

$extra-small-padding: 2px;
$small-padding: 5px;
$medium-padding: 10px;
$large-padding: 15px;
$extra-large-padding: 20px;

$extra-small-margin: 2px;
$small-margin: 5px;
$medium-margin: 10px;
$large-margin: 15px;
$extra-large-margin: 20px;

$extra-small-border-radius: 5px;
$small-border-radius: 8px;
$medium-border-radius: 10px;
$large-border-radius: 15px;
$extra-large-border-radius: 25px;

$header-height: 60px;
$toolbar-width: 60px;
