@import 'global';

.tm-task-header {
  @include centered-flex-box;
  border-bottom: 2px solid $off-white;

  .tm-dropdown {
    padding: $large-padding;
    width: calc(100% - 220px);
  };

  .tm-task-menu {
    @include centered-flex-box;
    margin-left: auto;
    padding: $large-padding;
    width: 220px;

    .tm-button {
      padding: 6px;
      &:last-child { margin-left: auto; };
    };
  };
}
