@import 'global';

.task-tags-section {
  .add-tag-button {
    visibility: hidden;
    &.active { visibility: visible; };
  };
  &:hover { .add-tag-button { visibility: visible; }; };
};

.task-tag-container {
  padding: $medium-padding 0;
  position: relative;
  text-align: center;

  .no-tags {
    margin-left: 35px;
    text-align: left;
  };
};
