@import 'global';

.tm-editable-field {
  &.view-mode {
    background-color: transparent;
    color: $off-black;

    &.off-white {
      &:hover {
        background-color: $off-white;
        border-radius: $extra-small-border-radius;
      };
    };

    &:hover {
      cursor: pointer;
    };

    &.plain-text {
      display: block;
      padding: 6px 12px;
    };
  };
};
