@import 'global';

#attachment-menu {
  background: $off-white;
  border-radius: 10px;
  overflow: hidden auto;
  padding: $medium-padding;
  position: absolute;
  top: -10px;
  width: 168px;
  z-index: 1;

  form { margin-top: $medium-margin; };

  .action-container {
    @include centered-flex-box;
    justify-content: right;
    margin-top: $medium-margin;

    button {
      padding: $small-padding $medium-padding;
      &:first-child { margin-right: $medium-margin; };
    };
  };
};
