@import 'global';

.sidebar-menu {
  form { margin-top: $medium-margin; };

  .action-container {
    @include centered-flex-box;
    justify-content: right;
    margin-top: $medium-margin;

    button {
      padding: $small-padding $medium-padding;
      &:first-child { margin-right: $medium-margin; };
    };
  };
};
