@import 'global';

#tasks-panel {
  overflow: $hide-y-scroll-x;
  padding: 0;
  padding-right: $medium-padding;

  .task-count { margin: 0; };

  .tasks-container {
    color: $white;
    padding-top: $medium-padding;

    .empty-task-section {
      padding: $medium-padding;
      padding-top: 0;
    };
  };
};
