@import 'global';

.tm-editable-input {
  .tm-text-area {
    background-color: $off-white;
    border-radius: 5px;
    cursor: text;

    &.large-header-text {
      font-size: $large-header-font-size;
    }
  }

  .inactive {
    display: block;
    padding: 6px 12px;

    &:hover {
      background-color: $off-white;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}
