@import 'global';

.tm-checkbox {
  align-items: flex-start;
  display: flex;

  .tm-button {
    margin-top:  $small-margin;
    margin-right: $small-margin;
  };

  .text-block-container {
    width: calc(100% - 20px);
  };

  &.disabled {
    .tm-button { color: $disabled-grey; }
  };
};
